<%- include("partials/header.ejs") %>

<div class="mx-6 mt-5 text-center">
    <p>There was an error logging you in. <a href="/login">Please try again.</a></p>
</div>

<%- include("partials/footer.ejs") %>