<%- include("partials/header.ejs") %>

<div class="mx-6 mt-5 text-center">
    <p>Thank you! You have successfully registered. Please <a href="/login">login</a> to create a blog post.</p>
</div>

<%- include("partials/footer.ejs") %>